<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.EbookMapper">
    <insert id="add" parameterType="EbookEntry">
        insert into
          ebook_entry
        (category_id,title,summary,uploaduser,createdate)
          values
        (#{categoryId},#{title},#{summary},#{uploaduser},#{createdate})
    </insert>
    <update id="update" parameterType="EbookEntry">
        update
          ebook_entry
        <set>
            <if test="categoryId != null and categoryId != ''">
                category_id=#{categoryId},
            </if>
            <if test="title != null and title !=''">
                title=#{title},
            </if>
            <if test="summary != null and summary !=''">
                summary=#{summary},
            </if>
            <if test="uploaduser != null and uploaduser !=''">
                uploaduser=#{uploaduser},
            </if>
            <if test="createdate != null and createdate !=''">
                createdate=#{createdate},
            </if>
        </set>
        where
          id=#{id}

    </update>

    <delete id="delete" parameterType="integer">
        delete from ebook_entry where id=#{id}
    </delete>


    <select id="findAll" resultType="com.qf.pojo.EbookEntry">
        select
          e.id,e.title,e.summary,e.uploaduser, e.createdate
        from
         ebook_entry e
         order by createdate desc
    </select>
    <select id="findByName" parameterType="integer" resultType="com.qf.pojo.EbookEntry">
         select
          e.id,e.title,e.summary,e.uploaduser, e.createdate
        from
         ebook_entry e left join ebook_category c on e.category_id=c.id
         where id=#{id}
         order by createdate desc
    </select>




</mapper>